.your{
    width: 1400px;
    margin: auto;
    background-color: white;
    
    &__global{
        display: flex;
        width: 1200px;
        margin: auto;
        padding: 50px;
        gap: 50px;
    }

    &__text{
        margin-top: 100px;
    }
}