.how{
    width: 1400px;
    margin: auto;
    background-color: white;

    &__global{
        text-align: center;
    }

    &__cards{
        display: flex;
        gap: 150px;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    &__btn{
        width: 200px;
        height: 40px;
        background-color: white;
        border: 2px solid #9A9CA5;
        border-radius: 15px;
        text-align: center;


    }

        &__btn:hover {
            border: 2px solid #FF3F3A;
            color: #FF3F3A;
            font-weight: 1000;
        }

        &__box{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }

        &__text{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 495px;
            height: 196px;
            color: #424551;
            text-align: center;
            margin-top: 120px;
        }

        &__h1{
            margin-left: 100px;
        }
}