.navbar{
    width: 1400px;
    margin: auto;
    background-color: rgb(255, 154, 154);

    &__nav{
        display: flex;
        padding: 50px;
        justify-content: space-between;
        align-items: center;
        
    }

    &__ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        
    }

    &__li{
        list-style: none;
    }

    &__a{
        text-decoration: none;
        color: black;
    }
    
    &__btn{
        align-items: center;
        width: 120px;
        height: 45px;
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        border-radius: 4px;
        color: #FFFFFF;

    }

    &__intro{
        width: 1000px;
        margin: auto;
    }

    &__global{
        display: flex;
    }
    

    &__h1{

        width: 496px;
        height: 249px;
        margin-top: 100px;


        /* display/2 */
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 130%;
        /* or 83px */
        display: flex;
        align-items: center;
        letter-spacing: 1px;

        /* gray/900 */
        color: #1E212C;


    }


    &__img{
        width: 380px;
    }

    &__btn-1{
        width: 148px;
        height: 52px;
        background-color: rgb(255, 154, 154);
        border: 2px solid   #FF3F3A;
        border-radius: 20px;

    }

    &__btn-2{
            
        width: 201px;
        height: 52px;
        background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
        border: 2px solid   #FF3F3A;
        border-radius: 20px;
        color: #FFFFFF;


    }

    &__button{
        display: flex;
        gap: 50px;
    }

}